<!-- task_list.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Tasks</title>
    <link rel="stylesheet" href="../static/task_list.css" />
  </head>
  <body>
    <h1>All Tasks</h1>
    <a href="/task/create/">Create New Task</a>
    <ul>
      {% for task in tasks %}
      <li>
        <strong>{{ task.title }}</strong> - Due: {{ task.due_date|date:"d-m-Y"}}<br />
        <a href="/task/{{ task.task_id }}/">View</a> |
        <a href="/task/{{ task.task_id }}/update/">Edit</a> |
        <form
          method="POST"
          action="/task/{{ task.task_id }}/delete/"
          style="display: inline"
        >
          {% csrf_token %}
          <button
            type="submit"
            style="
              border: none;
              background-color: transparent;
              color: red;
              font-size: 16px;
              cursor: pointer;
            "
            onclick="return confirm('Delete this task?')"
          >
            Delete
          </button>
        </form>
      </li>
      {% empty %}
      <li>No tasks available</li>
      {% endfor %}
    </ul>
  </body>
</html>
